# DIR
node_modules/
coverage/
.nyc_output/

# FILE
database/config/config.json
docker-compose.yml
config/config.js


# FILE EXT
.vscode

placeDetails.json
detailsPhoto.rawStream
searchResponse.json
searchResponse_1.json
